@model ShadowTracker.Models.Ticket

@{
    ViewData["Title"] = "Archive";
}

<h3>Are you sure you want to archive this ticket?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArchivedByProject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArchivedByProject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            Ticket Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>
        <dt class="col-sm-2">
            Ticket Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>
        <dt class="col-sm-2">
            Ticket Priority
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>
        <dt class="col-sm-2">
            Developer User
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeveloperUser.FullName)
        </dd>
    </dl>

    <div class="row pt-3 gy-2">
        <form asp-action="Archive">
            <input type="hidden" asp-for="Id" />
            <a class="btn btn-outline-jhprimary" asp-action="AllTickets">Return to All Tickets</a>
            <input type="submit" value="Archive" class="btn btn-danger" />
        </form>
    </div>
</div>
