@model IEnumerable<ShadowTracker.Models.Ticket>
@using ShadowTracker.Models.Enums

@{
    ViewData["Title"] = "Unassigned Tickets";
}

<h1>Unassigned Tickets</h1>

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                Ticket Type
            </th>
            <th>
                Ticket Status
            </th>
            <th>
                Ticket Priority
            </th>
            <th>
                Developer User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            @if (item.TicketStatus.Name == "New")
            {
                <td><span class="badge badge-success">@item.TicketStatus.Name </span></td>
            }
            else if (item.TicketStatus.Name == "Development")
            {
                <td><span class="badge badge-development">@item.TicketStatus.Name </span></td>
            }
            else
            {
                <td><span class="badge badge-other">@item.TicketStatus.Name </span></td>
            }
            @if (item.TicketPriority.Name == "Urgent")
            {
                <td><span class="badge badge-urgent">@item.TicketPriority.Name </span></td>

            }
            else
            {
                <td><span class="badge">@item.TicketPriority.Name </span></td>
            }
            <td>
                <a asp-controller="Tickets" asp-action="AssignDeveloper" asp-route-ticketId="@item.Id" class="btn btn-primary btn-sm">Assign Ticket</a>
            </td>
        </tr>
        }
    </tbody>
</table>
