@model IEnumerable<ShadowTracker.Models.Ticket>
@using ShadowTracker.Models.Enums

@{
    ViewData["Title"] = "Unassigned Tickets";
}

<h1>Unassigned Tickets</h1>

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                Ticket Type
            </th>
            <th>
                Ticket Status
            </th>
            <th>
                Ticket Priority
            </th>
            <th>
                Developer User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    <a asp-controller="Tickets" asp-action="AssignDeveloper" asp-route-ticketId="@item.Id" class="btn btn-primary btn-sm">Assign Ticket</a>
                </td>
            </tr>
        }
    </tbody>
</table>
