@model ShadowTracker.Models.ViewModels.DashboardViewModel
@using Microsoft.AspNetCore.Identity
@using ShadowTracker.Services.Interfaces
@using ShadowTracker.Models.Enums
@using System.Linq

@inject UserManager<BTUser> UserManager
@inject IBTRolesService RolesService

@{

    ViewData["Title"] = "Dashboard";
    BTUser btUser = await UserManager.GetUserAsync(User);}

@if (Model.Company.Id == btUser.CompanyId)
{
<div class="container-fluid">
    <h4>About @Html.DisplayFor(model => model.Company.Name)</h4>
    <hr />
    <p>Click <a asp-controller="Invites" asp-action="Create">here</a> to invite a new member to your company!</p>
    <div class="col-md-3 ">
        <div>
            <div class="card m-1 p-2">
                <div class="card-header">
                    <h2>Members</h2>
                    <hr />
                </div>
                <div class="card-body" style="overflow-y:auto;height:600px">
                    @* Looop over Company members. Display Name and Role *@
                    @foreach (BTUser member in Model.Members)
                    {
                        <span style="font-weight:bold">@member.FullName</span>
                        <h6>@((await RolesService.GetUserRolesAsync(member)).FirstOrDefault())</h6>

                        <hr />
                    }
                </div>
            </div>
        </div>
    </div>


    @*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>*@
    @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FileData)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FileData)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FileContentType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FileContentType)
            </dd>
        </dl>*@
</div>
}